{% extends 'base.html' %}

{% block content %}

<h1>Dashboard Vendeur</h1>
{% if boutique.logo %}

<img src="{{ boutique.logo.url }}"
     alt="{{ boutique.nom }}"
     width="120">

{% endif %}
<h2>{{ boutique.nom }}</h2>

<p>Total produits : {{ total_produits }}</p>

<hr>

<h2>Mes Produits</h2>
<a href="/produits/ajouter/">
    Ajouter Produit
</a>
<div class="product-grid">

    {% for produit in produits %}

    <div class="product-card">
        {% if produit.image %}

            <img src="{{ produit.image.url }}"
                width="180">

        {% endif %}
        <h3>{{ produit.nom }}</h3>

        <p>{{ produit.prix }} $</p>

        <p>Stock : {{ produit.stock }}</p>

    </div>

    {% endfor %}

</div>

{% endblock %}